{% extends "base.html" %}
{% load static %}
{% block title %}
    Контакты
{% endblock %}
{% block content %}
    <p>
        <a href="https://vk.com/public180751220"><img src="/media/images/vk.png" alt="VK" height=30px></a>
        <a href="https://vk.com/public180751220"><img src="/media/images/inst.png" alt="Instagramm" height=30px></a>
        <a href=""><img src="/media/images/viber.png" alt="Viber" height=30px></a>
        <a href=""><img src="/media/images/WhatsApp.png" alt="WhatsApp" height=30px></a>
    </p>
{% endblock %}