{% extends "base.html" %}
{% load static %}
{% block title %}
    {{category.name}}
{% endblock %}
{% block content %}
    <h1>{{category.name}}</h1>
    <ul class="products clearfix">
        {%for product in product_list%}
            <li class="product-wrapper">
                <a href="{% url 'shop:product-detail' product.slug %}" class="product">
                    <div class="product-photo">
                        <img src="{{ product.image.url }}">
                    </div>
                 <div class="product-name">{{product.name}}</div>
                <div class="product-price">₽{{product.price}}</div>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    <div class="product-buttons-wrap">
                        {{ form.as_hidden }}
                        {% csrf_token %}
                        <button type="submit" class = "buttons">Добавить в корзину</button>
                        <button class = "buttons">Подробнее</button>
                    </div>
                </form>
                </a>
            </li>
        {%endfor%}
    </ul>
{% endblock %}